---
http_interactions:
- request:
    method: get
    uri: https://isotope11.slack.com/api/channels.join?name=%23ruby&token=xoxp-2223009426-2222616703-2700726491-4a3e8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 25 Sep 2014 02:22:53 GMT
- request:
    method: get
    uri: https://isotope11.slack.com/api/channels.join?name=%23ruby&token=xoxp-2223009426-2222616703-2700726491-4a3e8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - post
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"already_in_channel":true,"channel":{"id":"C026VKGP7","name":"ruby","is_channel":true,"created":1395427609,"creator":"U026JJ2HH","is_archived":false,"is_general":false,"is_member":true,"members":["U026JJ4LP"],"topic":{"value":"","creator":"","last_set":"0"},"purpose":{"value":"","creator":"","last_set":"0"}}}'
  recorded_at: Thu, 25 Sep 2014 12:05:03 GMT
recorded_with: VCR 2.9.3
