---
http_interactions:
- request:
    method: get
    uri: https://isotope11.slack.com/api/channels.info?channel=C029N15A8&token=a-totally-legit-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 25 Sep 2014 02:22:53 GMT
- request:
    method: get
    uri: https://isotope11.slack.com/api/channels.info?channel=C029N15A8&token=xoxp-2223009426-2222616703-2700726491-4a3e8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C029N15A8","name":"affa_tracker","is_channel":true,"created":1399390760,"creator":"U026LNDQB","is_archived":false,"is_general":false,"is_member":false,"members":["U026K09CL","U026K0CLC","U026K13DU","U026LNDQB"],"topic":{"value":"","creator":"","last_set":"0"},"purpose":{"value":"To
        discuss the development of the Affa Tracker app","creator":"U026LNDQB","last_set":"1399390761"}}}'
  recorded_at: Thu, 25 Sep 2014 12:05:03 GMT
recorded_with: VCR 2.9.3
