---
http_interactions:
- request:
    method: get
    uri: https://<%= ENV['SLACK_TEAM'] %>.slack.com/api/files.list?count=1&token=<%= ENV['SLACK_API_TOKEN'] %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F02M13E6D","timestamp":1411680242,"name":"Screen
        Shot 2014-09-25 at 4.22.36 PM.png","title":"Screen Shot 2014-09-25 at 4.22.36
        PM.png","mimetype":"image\/png","filetype":"png","pretty_type":"PNG","user":"U02K9RJTP","editable":false,"size":792545,"mode":"hosted","is_external":false,"external_type":"","is_public":true,"public_url_shared":false,"url":"https:\/\/slack-files.com\/files-pub\/T026K09CJ-F02M13E6D-5d26b9\/screen_shot_2014-09-25_at_4.22.36_pm.png","url_download":"https:\/\/slack-files.com\/files-pub\/T026K09CJ-F02M13E6D-5d26b9\/download\/screen_shot_2014-09-25_at_4.22.36_pm.png","url_private":"https:\/\/files.slack.com\/files-pri\/T026K09CJ-F02M13E6D\/screen_shot_2014-09-25_at_4.22.36_pm.png","url_private_download":"https:\/\/files.slack.com\/files-pri\/T026K09CJ-F02M13E6D\/download\/screen_shot_2014-09-25_at_4.22.36_pm.png","thumb_64":"https:\/\/slack-files.com\/files-tmb\/T026K09CJ-F02M13E6D-2df154\/screen_shot_2014-09-25_at_4.22.36_pm_64.png","thumb_80":"https:\/\/slack-files.com\/files-tmb\/T026K09CJ-F02M13E6D-2df154\/screen_shot_2014-09-25_at_4.22.36_pm_80.png","thumb_360":"https:\/\/slack-files.com\/files-tmb\/T026K09CJ-F02M13E6D-2df154\/screen_shot_2014-09-25_at_4.22.36_pm_360.png","thumb_360_w":269,"thumb_360_h":360,"image_exif_rotation":1,"permalink":"https:\/\/isotope11.slack.com\/files\/bradleyprice\/F02M13E6D\/screen_shot_2014-09-25_at_4.22.36_pm.png","permalink_public":"https:\/\/slack-files.com\/T026K09CJ-F02M13E6D-5d26b9","channels":["C026K09CQ"],"groups":[],"ims":[],"comments_count":1,"initial_comment":{"id":"Fc02M2CDMA","timestamp":1411680247,"user":"U02K9RJTP","comment":"it''s
        a western danger zone, starring Clint Eastwood:"}}],"paging":{"count":1,"total":225,"page":1,"pages":225}}'
  recorded_at: Fri, 26 Sep 2014 12:22:16 GMT
recorded_with: VCR 2.9.3
