---
http_interactions:
- request:
    method: get
    uri: https://isotope11.slack.com/api/auth.test?token=a-totally-legit-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 25 Sep 2014 02:22:53 GMT
- request:
    method: get
    uri: https://isotope11.slack.com/api/auth.test?token=a-totally-legit-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/isotope11.slack.com\/","team":"Isotope11","user":"jamescook","team_id":"T026K09CJ","user_id":"U026JJ4LP"}'
  recorded_at: Thu, 25 Sep 2014 12:05:02 GMT
- request:
    method: get
    uri: https://isotope11.slack.com/api/auth.test?token=xoxp-2223009426-2222616703-2700726491-4a3e8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/isotope11.slack.com\/","team":"Isotope11","user":"jamescook","team_id":"T026K09CJ","user_id":"U026JJ4LP"}'
  recorded_at: Thu, 25 Sep 2014 12:15:59 GMT
recorded_with: VCR 2.9.3
