---
http_interactions:
- request:
    method: get
    uri: https://<%= ENV['SLACK_TEAM'] %>.slack.com/api/auth.test?token=<%= ENV['SLACK_API_TOKEN'] %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/isotope11.slack.com\/","team":"Isotope11","user":"jamescook","team_id":"T026K09CJ","user_id":"U026JJ4LP"}'
  recorded_at: Thu, 25 Sep 2014 12:05:02 GMT
recorded_with: VCR 2.9.3
