---
http_interactions:
- request:
    method: get
    uri: https://isotope11.slack.com/api/channels.list?token=xoxp-2223009426-2222616703-2700726491-4a3e8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"channels":[{"id":"C029N15A8","name":"affa_tracker","is_channel":true,"created":1399390760,"creator":"U026LNDQB","is_archived":false,"is_general":false,"is_member":false,"members":["U026K09CL","U026K0CLC","U026K13DU","U026LNDQB"],"topic":{"value":"","creator":"","last_set":"0"},"purpose":{"value":"To
        discuss the development of the Affa Tracker app","creator":"U026LNDQB","last_set":"1399390761"},"num_members":4},{"id":"C026JMBBH","name":"aiua","is_channel":true,"created":1395068252,"creator":"U026JJ4LP","is_archived":false,"is_general":false,"is_member":false,"members":["U026JJBGB","U026JL37B","U026K09CL","U02K9RJTP"],"topic":{"value":"","creator":"","last_set":"0"},"purpose":{"value":"","creator":"","last_set":"0"},"num_members":4},{"id":"C02HN6TPJ","name":"chromium","is_channel":true,"created":1409343386,"creator":"U026JJ2HH","is_archived":false,"is_general":false,"is_member":false,"members":[],"to[...]
[...]
