---
http_interactions:
- request:
    method: post
    uri: https://isotope11.slack.com/api/files.upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\";
        filename=\"Gemfile\"\r\nContent-Length: 12\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding:
        binary\r\n\r\nHello world\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"token\"\r\n\r\n#{ ENV['SLACK_API_TOKEN' }\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"channels\"\r\n\r\nC026VKGP7\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - post
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"file":{"id":"F02MJATQS","timestamp":1412030098,"name":"Gemfile","title":"Gemfile","mimetype":"text\/plain","filetype":"text","pretty_type":"Plain
        Text","user":"U026JJ4LP","editable":true,"size":12,"mode":"snippet","is_external":false,"external_type":"","is_public":true,"public_url_shared":false,"url":"https:\/\/slack-files.com\/files-pub\/T026K09CJ-F02MJATQS-db0f1b\/gemfile","url_download":"https:\/\/slack-files.com\/files-pub\/T026K09CJ-F02MJATQS-db0f1b\/download\/gemfile","url_private":"https:\/\/files.slack.com\/files-pri\/T026K09CJ-F02MJATQS\/gemfile","url_private_download":"https:\/\/files.slack.com\/files-pri\/T026K09CJ-F02MJATQS\/download\/gemfile","permalink":"https:\/\/isotope11.slack.com\/files\/jamescook\/F02MJATQS\/gemfile","permalink_public":"https:\/\/slack-files.com\/T026K09CJ-F02MJATQS-db0f1b","edit_link":"https:\/\/isotope11.slack.com\/files\/jamescook\/F02MJATQS\/gemfile\/edit","preview":"Hello
        world\n","preview_highlight":"<div class=\"sssh-code\"><div class=\"sssh-line\"><pre>Hello
        world<\/pre><\/div>\n<div class=\"sssh-line\"><pre><\/pre><\/div>\n<\/div>","lines":2,"lines_more":0,"channels":["C026VKGP7"],"groups":[],"ims":[],"comments_count":0}}'
  recorded_at: Mon, 29 Sep 2014 22:34:58 GMT
recorded_with: VCR 2.9.3
